<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.administrator.broadcastbestpractice" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".MainActivity" >
        </activity>

        <receiver android:name=".ForceOfflineReceiver" >
            <intent-filter>
                <action android:name="com.test.broadcastbestpractice.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".FirstBroadcastReceiver">
            <intent-filter>
                <action android:name="com.administrator.test.broadcastbestpractice.FIRST_ACTIVITY"/>
            </intent-filter>
        </receiver>

        <activity android:name=".NewsContentActivity" >
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity android:name=".SightsActivity" >
        </activity>
        <activity android:name=".SightsContentActivity" >
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
